body {
    background-color: rgb(248, 235, 185);
}h1 {
    color: green;
    font-family: monospace;
    font-size: 32px;
    
} p { 
    font-size: 15px;
    text-align: center;


} img { 
    border-radius: 15%;

 } .listas {
    font-size: 15px;
    
} git pull

#sobre-mim {
    text-align: center;
}