.about {
  padding: 1%;
  height: calc(100vh - 5vh); /* Ajusta a altura para ocupar 100% da viewport a partir da margem superior */
  background-color: rgba(207, 207, 207, 0.781);
}
.about > h1 {
  margin-top: 6%;
  margin-bottom: 0.5%;

}

.about > p {
  font-size: 1.2rem;
  margin-bottom: 5%;
}


.about-container {
  display: flex;
  width: 100%;
}

.about-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.about-header > h2 {
  font-size: 1.6rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 1% 5% 5% 5%;

}

.about-me > p {
  text-align: left;
  color: rgb(87, 85, 85);
  font-size: 1.1rem;
  line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
  margin-bottom: 10px; /* Adiciona margem na parte inferior de cada parágrafo */
}

.about-skills-container {
  display: flex;
  flex-direction: column;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 1% 5% 5% 5%;

}

.technologies > div {
  margin: 1.5%;
  transition: transform 0.3s, margin 0.3s;
}

.technologies > div:hover {
  transform: scale(1.2);
}
