.skills-span-JavaScript {
  color: rgb(187, 187, 29);
}

.skills-span-React {
  color: rgb(72, 148, 255);
}

.skills-span-CSS {
  color: rgb(0, 58, 140);
}

.skills-span-BrowserRouter {
  color: rgb(72, 0, 50);
}

.skills-span-ContextAPI {
  color: rgb(162, 29, 115);
}

.skills-span-Redux {
  color: rgba(111, 0, 214, 0.968);
}