main {
  background-size: cover;
  background-position: center;
  background-image: url('../imagens/wallpaper/bg-ng-01.jpg');
  display: flex;
}

main > h1 {
  margin-bottom: 0px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title > h1 {
  color: white;
}

.first-title {
  display: flex;
}

.first-title > h1 {
  color: white;
}

.perfil-img {
  width: 10%;
  border-radius: 80%;
}


/* .first-title {
  display: flex;
}

.Header h1 {
  font-size: 5rem;
  width: auto;
  height: auto;
  margin-block: 0px

}

.header-social-icons {
  display: flex;
  align-self: center;
  margin: 1%;
  width: 120px;
}

.Main {

  display: flex;
}


.logo path {
  fill: red; /* ou qualquer outra cor em formato CSS */
  /* stroke: blue; */
/* } */ 