.social-icon {
  transition: transform 0.3s, fill 0.3s; /* Definindo a transição de animação */
  
}

.social-icon:hover {
  transform: translateY(-3px); /* Movendo o ícone para cima */
  fill: blue; /* Alterando a cor do ícone */
}
