
.social-icon-container {
  display: inline-block; /* ou flex, dependendo da necessidade de layout */
  cursor: pointer; /* Altera o cursor para o estilo de ponteiro ao passar o mouse */
}

.social-icon {
  transition: transform 0.3s, fill 0.3s; 

}
.social-icon-container:hover .social-icon {
  transform: translateY(-3px);
  fill:rgb(158, 3, 197); 
}
