.App {
  text-align: center;
}

.App{
background-image: url(./components//images-wallpaper/logo.svg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;

}

* {
  margin: 0;
  padding: 0;
  border: 0;
}


